@import '../../style.scss';

.button {
  @include button($w: 50%, $r: 6px) {
    font-size: $size-1;
    font-family: $krFont;
    background-color: $softGreen;
    color: $white;
    font-weight: 500;
  }
}

.button--disabled:disabled {
  background-color: $lightGray2;
  color: $gray;
}

.link {
  @include button($r: 6px) {
    font-size: $size-1;
    background-color: $softGreen;
    font-weight: 500;
    color: $white;
  }
}

.moveBtn {
  font-size: $size-0;
  width: auto;
  margin-top: 30px;
  padding: 5px 10px;
  border: 1px solid $softRed;
  background-color: $softRed;

  &:hover,
  &:focus {
    color: $softRed;
    background-color: $white;
  }
}
