@import '../style.scss';

.dailyBoxes_container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  margin-left: 160px;
  margin-top: 80px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .moveBtn {
    font-size: $size-0;
    width: auto;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid $softRed;
    background-color: $softRed;

    &:hover,
    &:focus {
      color: $softRed;
      background-color: $white;
    }
  }
}
