@import '../../style.scss';

.editor__container {
  max-width: 1000px;
  width: 85%;
  @include set-center;

  .sub__title,
  .sub__title__bg {
    font-family: $enSubFont, $krFont;
    font-size: $size-2;
    font-weight: 600;
    margin-top: 30px;
    width: 85%;
  }

  .sub__title__bg__text {
    font-size: $size-0;
    color: $red;
    margin: 10px 0;
    margin-left: 65px;
  }

  .custom__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid $skyblue;
  }

  .custom__box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 190px;

    .input__wrapper__font {
      @include set-center;

      label {
        display: block;
        margin: 10px 0;
        width: 150px;
      }

      input {
        border: 1px solid $skyblue;
        border-radius: 10px;
        width: 190px;
        height: 40px;
        text-align: center;
        letter-spacing: 0.0625rem;
      }
    }

    .input__wrapper {
      @include set-center;

      label {
        display: block;
        margin: 10px 0;
        padding-left: 40px;
        width: 150px;
        font-family: $enFont;
        font-weight: 500;
      }

      input {
        border: 1px solid $skyblue;
        border-radius: 10px 0 0 10px;
        width: 140px;
        height: 40px;
        text-align: center;
        color: $black;
        font-family: $enFont;
        letter-spacing: 0.0938rem;
      }
    }

    .color__picker {
      position: absolute;
      bottom: 0;
      right: 0;
      border: 1px solid $skyblue;
      border-radius: 0 10px 10px 0;
      width: 50px;
      height: 40px;
      background-color: $white;
      padding: 2px;
      margin: auto 0;

      &::-webkit-color-swatch {
        position: absolute;
        border-radius: 6px;
        border: none;
        height: 25px;
        width: 30px;
        margin-left: 5px;
        box-shadow: 0px 2px 4px rgba(36, 36, 36, 0.275);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .custom__date__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    font-weight: 500;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid $skyblue;

    .sub__title {
      width: 190px;
    }
  }

  .file__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .file__input {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-right: 20px;

      .sub__title__bg {
        margin-left: 95px;
      }

      .file__box__url {
        input {
          border: 1px solid $skyblue;
          border-radius: 4px;
          width: 400px;
          height: 30px;
          text-align: center;
          font-size: $size-0;
          margin-top: 20px;
          padding: 6px;
        }
      }

      .file__box__upload {
        input {
          border-bottom: 1px solid $skyblue;
          width: 200px;
          text-align: center;
          letter-spacing: 0.0625rem;
          margin-top: 20px;
          padding: 10px;
        }
      }
    }

    .preview__image {
      width: 50%;
      display: flex;
      justify-content: end;
      margin-top: 35px;
      margin-bottom: 50px;
      margin-right: 10px;

      img {
        max-width: 350px;
        max-height: 300px;
        margin-left: 10px;
      }

      .icon__delete {
        font-size: 18px;
        cursor: pointer;
      }
    }
  }

  .error {
    color: $red;
    font-size: $size-0;
    margin: 5px 0;
  }
}
