@import '../../style.scss';

table {
  max-width: 1000px;
  width: 70%;
  border-collapse: collapse;
  margin: 30px auto;
  border: 1px solid $softRed;

  th {
    font-weight: bold;
    border-bottom: 1px solid $softRed;
    font-size: $size-1;

    span {
      font-weight: bold;
      color: $lightGreen;
    }
  }

  th,
  td {
    padding: 10px;
    text-align: center;
  }

  tr {
    td {
      border-bottom: 1px solid $lightGray2;
    }
  }

  strong {
    color: $red;
  }

  .main__table__button {
    width: auto;
    background-color: $green;
    margin-left: 20px;
    padding: 10px 15px;
    transition: all 0.2s;
    font-family: $enSubFont;

    &:hover,
    &:focus {
      font-family: $enSubFont;
      background-color: $softGreen-light;
    }
  }

  .button__awesome {
    background-color: $softRed;

    &:hover,
    &:focus {
      font-family: $enSubFont;
      background-color: $red;
    }
  }
}

.td_border_bottom {
  border-bottom: 1px solid $softRed;
}

.td_border_right {
  border-right: 1px solid $lightGray2;
}
