@import '../../style.scss';

.plan__container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: $krSubFont1;
  @include set-center;

  h1 {
    font-family: $krSubFont2;
    font-size: $size-3;
    margin-bottom: 20px;

    span {
      font-family: $enSubFont;
      font-weight: 800;
      color: $green;
    }

    strong {
      color: $softRed;
    }
  }

  .plans {
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    @include set-center;

    .plan__header {
      display: flex;
      justify-content: end;
      width: 100%;
      margin-bottom: 10px;

      .plan {
        width: 60%;
        display: flex;

        button {
          width: 30%;
          height: 100px;
          font-family: $enSubFont;
          font-weight: 500;
          font-size: $size-1;
          padding: 18px;
          margin: 0 6%;
          border-radius: 5px;
          color: $white;
          transition: all 0.2s;
        }

        .plan__simple {
          background-color: $softGreen-light;

          &:hover,
          &:focus {
            background-color: $softGreen;
          }
        }

        .plan__awesome {
          background-color: $softRed;

          &:hover,
          &:focus {
            background-color: $red;
          }
        }
      }
    }

    table {
      width: 100%;
      display: block;

      tbody {
        display: flex;
        flex-direction: column;

        tr {
          border-bottom: 1px solid $lightGray2;
          min-height: 50px;
          @include set-center($direction: row);

          th {
            width: 30%;
            display: flex;
            text-align: left;
            align-items: center;

            .icon {
              margin-right: 5px;
              font-size: 18px;
            }
          }

          td {
            width: 25%;
            display: block;
          }
        }

        tr:first-child,
        tr:nth-child(3) {
          td:nth-child(2) {
            color: $lightGreen;
          }

          td:last-child {
            color: $red;
          }
        }

        tr:nth-child(n + 6) {
          td:nth-child(2) {
            color: #a3a3a3;
          }

          td:last-child {
            color: $red;
          }
        }
      }
    }
  }
}
