@import '../../style.scss';

.wonderBox_info {
  max-width: 1000px;
  width: 70%;
  background-color: $lightGray1;
  padding: 25px 40px;
  border: 1px solid $lightGray2;
  border-radius: 5px;
  margin: 30px auto;
  text-align: center;
  color: #555;

  & > div {
    margin-bottom: 18px;
    font-size: $size-1;

    & > p {
      margin-bottom: 10px;
    }
  }
}

.container {
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  font-size: 1.5rem;

  strong {
    font-weight: bold;
    color: $black;
  }

  .main__button {
    width: auto;
    background-color: $green;
    margin-left: 20px;
    padding: 10px 15px;
    transition: all 0.2s;
    font-family: $enSubFont;

    &:hover,
    &:focus {
      background-color: $softGreen-light;
    }
  }

  p {
    line-height: 2.5;
  }
}
