@import '../style.scss';

.button__container {
  width: 20%;
  display: flex;
  margin: auto;

  button {
    margin-top: 50px;

    .moveBtn {
      font-size: $size-0;
      width: auto;
      padding: 5px 10px;
      border: 1px solid $softRed;
      background-color: $softRed;

      &:hover,
      &:focus {
        color: $softRed;
        background-color: $white;
      }
    }
  }
}
