/* Font */
$krFont: 'Noto Sans KR', sans-serif;
$enFont: 'Roboto', sans-serif;
$enSubFont: 'Playpen Sans', cursive;

/* Font Size */
$size-0: clamp(1.13rem, 0.23vw + 1.07rem, 1.25rem);
$size-1: clamp(1.35rem, 0.39vw + 1.25rem, 1.56rem);
$size-2: clamp(1.62rem, 0.61vw + 1.47rem, 1.95rem);
$size-3: clamp(1.94rem, 0.9vw + 1.72rem, 2.44rem);
$size-4: clamp(2.33rem, 1.31vw + 2.01rem, 3.05rem);
$size-5: clamp(2.8rem, 1.85vw + 2.34rem, 3.81rem);
$size-6: clamp(3.36rem, 2.56vw + 2.72rem, 4.77rem);
$size-7: clamp(4.03rem, 3.51vw + 3.15rem, 5.96rem);

/* Color */
$black: #2c2c2c;
$darkgray: #494845;
$gray: #767676;
$skyblue: #ccd2e1;
$white: #fff;

$beige: #ece3ce;
$softRed: #c97777;
$red: #c93f3f;
$darkRed: #8c3333;

$green: #026530;
$lightgreen: #00a637;
$softGreen-dark: #3a4d39;
$softGreen: #4f6f52;
$softGreen-light: #739072;

$toggleBg: rgba(0, 0, 0, 0.67);

/* Mixin */
@mixin set-center($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  text-align: center;
}

@mixin button($w: 100%, $h: 100%, $r: 0) {
  width: $w;
  height: $h;
  @content;

  &:hover,
  &:focus {
    font-weight: 700;
    @content;
  }

  @if $r != 0 {
    border-radius: $r;
  }
}

@mixin mobile {
  @media (max-width: 460px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
