/* Font */
$krFont: 'Noto Sans KR', sans-serif;
$enFont: 'Roboto', sans-serif;
$enSubFont: 'Playpen Sans', cursive;

/* Font Size */
$size-0: clamp(0.5rem, 0.15vw + 0.7rem, 0.875rem);
$size-1: clamp(0.875rem, 0.23vw + 1rem, 1.125rem);
$size-2: clamp(1.35rem, 0.39vw + 1.25rem, 1.56rem);
$size-3: clamp(1.62rem, 0.61vw + 1.47rem, 1.95rem);
$size-4: clamp(1.94rem, 0.9vw + 1.72rem, 2.44rem);
$size-5: clamp(2.33rem, 1.31vw + 2.01rem, 3.05rem);
$size-6: clamp(2.8rem, 1.85vw + 2.34rem, 3.81rem);
$size-7: clamp(3.36rem, 2.56vw + 2.72rem, 4.77rem);

/* Color */
$black: #2c2c2c;
$darkGray: #494845;
$gray: #767676;
$white: #fff;

$lightGray1: #f2f2f2;
$lightGray2: #e1e1e1;

$beige: #f7efe5;
$softRed: #c97777;
$red: #c93f3f;
$darkRed: #8c3333;

$green: #026530;
$lightGreen: #00a637;
$softGreen-dark: #3a4d39;
$softGreen: #4f6f52;
$softGreen-light: #739072;

$lightBlue: #64ccc5;
$skyblue: #ccd2e1;
$bg: #ebf1ff;

$overlay: rgba(0, 0, 0, 0.76);

/* Mixin */
@mixin set-center($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  text-align: center;
}

@mixin button($w: auto, $h: auto, $p: 10px, $m: 0 auto, $r: 0) {
  width: $w;
  height: $h;
  padding: $p;
  margin: $m;
  transition: all 0.2s ease-in-out;
  @content;

  &:hover,
  &:focus {
    font-weight: 500;
    @content;
  }

  @if $r != 0 {
    border-radius: $r;
  }
}

@mixin mobile {
  @media (max-width: 460px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1000px) {
    @content;
  }
}
